.portal{

max-width:900px;

margin:50px auto;

}

.card{

background:white;

padding:25px;

margin-top:25px;

border-radius:12px;

box-shadow:0 8px 20px rgba(0,0,0,.1);

}

.decision{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.decision h1{

font-size:60px;

color:#0d7a35;

}

.decision p{

font-size:24px;

}
