body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#edf2f7;

font-family:Arial;

}

.login-box{

background:white;

padding:40px;

width:360px;

border-radius:12px;

box-shadow:0 15px 40px rgba(0,0,0,.15);

text-align:center;

}

input{

width:100%;

padding:12px;

margin-top:15px;

font-size:16px;

box-sizing:border-box;

}

button{

margin-top:20px;

width:100%;

padding:14px;

background:#003366;

color:white;

border:none;

font-size:17px;

cursor:pointer;

}

button:hover{

background:#001f44;

}

#error{

color:red;

margin-top:15px;

}
