.portal-container{

width:900px;

margin:60px auto;

}

.box{

background:white;

padding:25px;

margin-bottom:25px;

border-radius:12px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.box h2{

margin-top:0;

}

.decision-page{

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

height:100vh;

}

.decision-page h1{

font-size:60px;

color:#0b7d38;

margin-bottom:10px;

}

.decision-page h2{

font-size:34px;

}

.emoji{

font-size:90px;

margin:30px;

}
